:root,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
}

.container {
	height: 100%;
	display: grid;
	grid-template-rows: 20% 72.5% 7.5%;
	background-color: rgb(160, 138, 160);
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 120px;
	font-weight: bold;
	box-shadow: 0 0 10px 10px white;
	color: BLACK;
}

.copyright {
	display: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px 10px white;
}

.game-area {
	display: grid;
	grid-template-columns: 1fr 0.1fr 1fr;
	grid-template-rows: 80% 20%;
}

.player-1 {
	grid-area: 1/ 1/ 2/ 2;
}

.player-2 {
	grid-area: 1/3/2/4;
}

.player-1,
.player-2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 4fr 2fr;
}

.player-1 > img,
.player-2 > img {
	height: 85%;
	grid-column: 2/4;
	align-self: self-end;
	justify-self: center;
}

.first-contender,
.second-contender {
	justify-self: center;
	align-self: center;
	font-size: 7vh;
	text-align: center;
	width: 10vw;
	color: black;
	line-height: 8vh;
	vertical-align: middle;
	grid-area: 2/2/3/4;
	font-weight: bold;
}

.first-contender {
	color: darkblue;
}

.versus {
	grid-area: 1/2/2/3;
	font-size: 20vh;
	align-self: center;
	justify-self: center;
	color: black;
}

.start {
	width: 12vw;
	height: 10vh;
	grid-area: 2/2/3/3;
	font-size: 6vh;
	background-color: red;
	border: 0.1em solid black;
	font-weight: bold;
	border-radius: 0.4em;
	justify-self: center;
	transition: 0.1s;
}

.start:hover {
	background-color: black;
	border: 5px solid red;
	color: red;
}

.start:active {
	scale: 1.05;
	background-color: white;
	color: black;
	border: 0.1em solid black;
}

.game-platform {
	align-self: center;
}

.remove-display {
	display: none;
}

.game-area-started {
	display: grid;
	grid-template-columns: 1.5fr 2fr 1.5fr;
	grid-template-rows: 1fr;
	background-color: rgba(160, 138, 160, 0.5);
}

.battle-ground {
	grid-area: 1/2/2/3;
	display: grid;
	grid-template-rows: 12% 75%;
	grid-template-columns: 1fr;
	background-color: rgba(255, 255, 255, 0.7);
}

.game-state {
	grid-area: 1/1/2/2;
	justify-self: center;
	align-self: center;
	font-size: 4vh;
	font-weight: bold;
}

.game-board {
	display: grid;
	flex-wrap: wrap;
	width: 70%;
	height: 100%;
	grid-area: 2/1/3/2;
	background-color: rgba(255, 255, 255, 0.7);
	justify-self: center;
	align-self: center;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 1vh;
}

.game-board-unit {
	background-color: rgba(160, 138, 160, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

img[src="./svg/circle.svg"] {
	height: 60%;
	transition: 10s;
}

img[src="./svg/plus.svg"] {
	height: 90%;
	rotate: 45deg;
}

.p1-win {
	color: darkblue;
}

.draw {
	color: red;
}

.reset-button {
	width: 150px;
	height: 50px;
	background-color: orange;
	font-size: 40px;
	font-weight: bold;
	align-self: center;
	justify-self: center;
}
